body {
    background-color: #98C1D9 ;
}
#header-text {
    color: #6969B3;
    text-align: center;
}
.about-txt {
    text-align: center;
}
#welcome-txt {
    color: #ffffff;
}
.allabout-txt {
    font-size: larger;
    color: #25171A;
}
#logo-txt {
    background-color: #6969B3;
}
.bg-dark {
     background-color: #6969B3!important;

}
.footer-txt {
    background-color: #6969B3;
}
.footer-alt {
    color: #fff;
}
.card-text {
    color: #6969B3;
}
.row {
    margin-top: 25px;
}

.top_card {
    height: 15rem;
}

.main_img {
    height: 85vh;
    width: 100%;
}