body {
    background-color: #ABEBC6 ;
}
#header-text {
    color: #7D3C98;
    text-align: center;
}
.about-txt {
    text-align: center;
}
#welcome-txt {
    color: #C0392B;
}
.allabout-txt {
    font-size: larger;
}
#logo-txt {
    background-color: #7D3C98;
}
.bg-dark {
     background-color: #7D3C98!important;

}
.footer-txt {
    background-color: #7D3C98;
}
.footer-alt {
    color: #fff;
}
.card-text {
    color: #7D3C98;
}
.row {
    margin-top: 25px;
}

.top_card {
    height: 15rem;
}

.main_img {
    height: 70vh;
    width: 100%;
}